/*NAŠE RODINKA*/
.main-container{
  display: grid;
}
.main-container img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;  
    border-radius: 300px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.363);
    transition: transform 0.5s, box-shadow 0.5s;
    margin-bottom:15px;
}

h1{
    text-indent: 0px;
    text-align: center;
}
/*  Mobile  */
@media screen and (max-width: 768px){
  .main-container{
    grid-template-columns: auto;
  }
  .container .pic{
    text-align: center;
  }
    
}


/*  Tablet  */
@media screen and (min-width: 768px) {
    .main-container{
        grid-template-columns: auto auto;
        grid-gap: 5px;
       
    }
    
      .container {
        padding: 20px;
        text-align: center;
      }
}

/*  Desktop */
@media screen and (min-width: 1024px){
    div.main{
      margin-top:0;
    }
  
    .main-container{
        grid-template-columns: auto auto auto;
        grid-gap: 5px;
    }
    
      .container {
        display: relative;
        padding: 20px;
        text-align: center;
      }
      .pic{
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
      }
      .kadopci{
        position: absolute;
        display: flex;
        height: 300px;
        width: 300px;
        border-radius: 300px;
        background-color: rgba(22, 173, 22, 0.432);
        z-index: 10;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s; 
      }
      .kadopci h1{
        margin: 0;
        color: white;
        align-self: center;
      }
      .kadopci:hover{
        opacity: 100%;
      }
}




