
.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
  
  padding: 20px;
  overflow: hidden;
}

.gallery img{
    object-fit: cover;
  width: 100%;
  max-height: 100%;
  box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.363);
  transition: transform 0.5s, box-shadow 0.5s;
}
.gallery img:hover{
    cursor:pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.363);
    transform: scale(1.05);
}

@media screen and (max-width: 768px){
    .gallery{
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .gallery{
        grid-template-columns: auto auto;
        
    }
}

@media screen and (min-width: 1024px){

}