ul li{
    font-size: 13pt;
}
h1{
    text-align: center;
    letter-spacing: 2px;
}

form{
    text-align: center;
    max-width:75%;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(155, 155, 155, 0.349);
background-image: url("../../img/texture-background.jpg");
background-repeat: no-repeat;
background-size: cover;
border: 10px solid transparent;
border-image: url("../../img/wooden-textured-background-.jpg") 30 round;
    box-shadow: 0 4px 16px 16px rgba(0, 0, 0, 0.603);
    padding-top: 25px;
    padding-bottom: 25px;
}

form h1{
    margin-top:0;
    color: white;
    text-shadow: 4px 4px 4px rgba(14, 13, 13, 0.89);
}

form label:not(.zivotopis){
    color:white;
    font-family: 'Just-Another-Hand', cursive;
    text-shadow: 4px 4px 4px rgba(14, 13, 13, 0.89);
    font-size: 20pt;
}

form input{
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 16px 8px rgba(134, 134, 134, 0.295);
    border-radius: 50px;
    padding: 15px;
    width: 75%;
    margin-bottom: 15px;
    text-align: center;
}
form hr{
    margin: 0 15% 15px 15%;

}
/*form input#cv{
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 16px 8px rgba(134, 134, 134, 0.295);
    width:93%;
 margin-bottom: 25px;
}*/


input[type="file"] {
    display: none;
}

.zivotopis {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    padding-right: 25px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px 16px 8px rgba(134, 134, 134, 0.295);
    width: 50%; 
    margin-bottom: 25px;
    color: rgb(114, 114, 114);
}

form input#submit{
    width:auto;
    padding-left:50px;
    padding-right: 50px;
    font-family: 'Just-Another-Hand', cursive;
    font-size: 22pt;
    font-weight: bold;
    transition: transform 0.5s, text-shadow 0.5s, color 0.5s, background-color 0.5s;
}

form input#submit:hover{
    cursor:pointer;
    background-color: black;
    color: white;
    text-shadow: 0 0 10px #fff;
    transform: scale(1.05);
}







/*  Mobil   */
@media screen and (max-width: 768px){

    form{
        background-color: white;
        background-image: none;
        border: none;
        box-shadow: none;
    }
    form h1{
        color: black;
        text-shadow: 0 0 10px rgba(2, 2, 2, 0.767);
    }
    
    form input{
        width: 90%;
        border-radius: 0;
        margin-bottom: 5px;
        }
       form hr{
        display: none;
       }
       form label:not(.zivotopis){
        display: none;
       }
       form br{
        display: none;
       }
        .zivotopis{
            border-radius: 0;
            border: none;
            box-shadow: 0 4px 16px 8px rgba(134, 134, 134, 0.295);
         width:87%;  
         margin-bottom: 25px;
         max-width:100%;  
        }
}







/*   GOOGLE ICONS   */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


